.advantages {
  padding-top: 43px;
}

.advantages__text {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-color: $extra-color;
}

.advantages__item {
  padding: 0 34px;
  padding-bottom: 32px;
  text-align: center;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 11px;
  color: $header-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.advantages__img-wrapper {
  background-color: $extra-color;
  text-align: center;
}
