.button {
  display: block;
  padding: 15px 0;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 30px;
  border: none;
}
