.contacts {
  padding: 46px 0 15px 0;
  text-align: center;
}

.contacts__header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 34px;
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

.contacts__link {
  display: block;
  padding: 0 12px;
  margin-bottom: 24px;
  color: $active-color;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }

  &:active {
    color: rgba($main-color, 0.3);
    text-decoration: none;
  }
}
