.photos {
  padding-top: 45px;
  padding-bottom: 49px;
}

.photos__text {
  line-height: 30px;
  text-align: center;
  padding: 0 44px;

  &:not(:last-child) {
    margin-bottom: 49px;
  }

  &:last-child {
    padding-top: 17px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.photos__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photos__item {
  position: relative;
  padding: 0 20px;
}

.photos__label {
  position: absolute;
  padding: 6px 21px;
  top: 0;
  right: 20px;
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $active-color;
}

.photos__pic--full {
  transform: translateX(-20px);
}

.photos__description-wrapper {
  padding: 18px 23px 25px 18px;
  background-color: $extra-color;
  margin-bottom: 20px;
}

.photos__author {
  display: inline-block;
  font-weight: 700;
}

.photos__time {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__description {
  margin-bottom: 8px;
}

.photos__like-btn {
  display: inline-block;
  margin-right: 12px;
}

.photos__like {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: $active-color;
}
