.reviews {
  padding: 44px 21px 43px 21px;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__item {
  text-align: center;
}

.reviews__author {
  margin-bottom: 12px;
  color: $header-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  line-height: 30px;
  margin-bottom: 36px;
}
