.slider-tumblers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-tumblers__tumbler {
  cursor: pointer;
  background-color: #bec2c7;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 19px;
  }

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: rgba($main-color, 0.1);
  }
}

.slider-tumblers__tumbler--active {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px $main-color;
}
